@media (min-width: 1400px) {

  .header__logo {
    width: 5.5em;
  }

  .about__text {
    margin-right: 3em;
  }

  .about__icons {
    margin-left: 3em;

    ul {
      li::before {
        left: -7em;
      }
    }
  }

  .castle__text {
    max-width: 30vw;
  }

  .gallery {
    width: 85%;
  }

  .contact__contacts {
    ul {
      width: 26vw;
    }
  }

}