$mont: 'Montserrat', sans-serif;
$fontratio: 1.333;
$myBlue: rgb(82, 198, 246);

@import 'keyframes';
@import 'normalize';

body:not(.show-focus-outlines) button:focus,
body:not(.show-focus-outlines) [tabindex]:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: $mont;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

//vh hack
section {
  transition: all 9999s;
}

// typo settings
h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.15em;
  margin-top: .3em;
}

.subclaim-3 {
  font-size: 1.35em;
  font-weight: 600;
}

.subclaim-4 {
  font-weight: 600;
  font-size: 1.15em;
  margin-bottom: 0;
}

.subclaim-5 {
  font-size: 0.9em;
  font-weight: 600;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: .01em;
  font-weight: 400;
}

// ---------------

// primary button styling
.button {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  margin: 6vh auto 0 auto;
  border: 2px solid white;
  border-radius: 5em;
}

.header {
  width: 100%;
  background-image: url('../assets/img/header__backgroundphoto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5em 2em;
  color: white;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 4em;

  img {
    width: 100%;
  }
}

.header__menu {
  display: flex;
  visibility: hidden;
  opacity: 0;

  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 105vh;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, .9);
  transition: visibility .3s, opacity .3s .1s ease-in-out;

  li {
    list-style: none;
    margin: 1em 0;
    font-size: 1.5em;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.header__menu--open {
  visibility: visible;
  opacity: 1;
}

.header__hamburger {
  z-index: 999;
  background: none;
  border: none;
  width: 35px;
  height: 36px;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 2px;
    background: white;
  }

  span:nth-child(1),
  span:nth-child(3) {
    transition: 0.3s ease-out .2s;
  }

  span:nth-child(2) {
    transition: .5s ease-in-out;
  }
}

.header__hamburger--open {

  span:nth-child(2) {
    transform: rotate(560deg);
    opacity: 0;

  }

  span:nth-child(1) {
    transform: translate(0, 6px) rotate(225deg);
  }

  span:nth-child(3) {
    transform: translate(0, -6px) rotate(-225deg);
  }
}

// navbar ends

.header__claim {
  margin: 18vh 0 2vh 0;
  text-align: center;
  font-weight: 600;
}

.header__subclaim {
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

// end of header section

.about {
  padding: 0;
  height: auto;
  overflow: hidden;
}

.about__text {
  margin: 3em 1.2em;
}

.about__icons {
  width: 100%;

  ul {
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      position: relative;
      padding: 0;
      margin: 3em 0;
      left: 100vw;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      p.subclaim-5 {
        margin: 1.5em 0 0 0;
      }

      p.subclaim-3 {
        margin: .1em 0 0 0;
      }


    }

    li:nth-child(1) {
      animation-delay: 0s;
    }

    li:nth-child(2) {
      animation-delay: .3s;
    }

    li:nth-child(3) {
      animation-delay: .6s;
    }

    li::before {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 4em;
      height: 4em;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.animate {
  animation-name: lazyIcons;
}

.about__list-item:nth-child(1)::before {
  background-image: url('../assets/img/cloud.svg');
}

.about__list-item:nth-child(2)::before {
  background-image: url('../assets/img/camera.svg');
}

.about__list-item:nth-child(3)::before {
  background-image: url('../assets/img/certif.svg');
}

//end of about

.castle {
  padding: 1.2em;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg,
          rgba(255, 255, 255, 0) -100%,
          rgba(0, 0, 0, .5) 60%
  ),
  url('../assets/img/castle.png');
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.castle__text {
  color: white;
  text-align: center;
  z-index: 1000;
}

// end of castle

.portfolio {
  padding: 2em 0em;
  height: auto;
}

.portfolio__text {
  padding: 0 1.2em;
}

.fullphoto {
  button {
    display: none;
  }
}

.gallery {
  margin: 0 auto;
  width: 100%;
  padding: 1em;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0
  }
}

.gallery__photo {
  cursor: pointer;
  width: 25em;
  height: 13em;
  background: #e4e4e4;
  margin: .5em;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s ease-out;
  opacity: 0;
  position: relative;
  top: -5px;
}

.gallery__show-more {
  cursor: pointer;
  background: white;
  color: black;
  border: 2px solid black;
  transform: scale(0.8);
  margin-top: 0;
  transition: .5s;
}


.contact {
  padding: 2.5em 0 1.2em 0;
}

.contact__text {
  margin: 0 1.2em;
}

.contact__contacts {
  width: 100%;

  ul {
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      padding: 0;
      margin: 2em 0;

      a {
        margin: 1em 0 .7em 0;
        font-weight: 500;
        display: block;
        text-decoration: underline;
        color: black;
      }

      a:nth-child(2) {
        margin-top: .3em;
      }
    }

    li::before {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 4em;
      height: 4em;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.contact__first-item::before {
  background-image: url('../assets/img/phone.svg');
}

.contact__second-item::before {
  background-image: url('../assets/img/envelope.svg');
}

footer {
  margin-top: 5em;
  text-align: center;
  p {
    font-size: .8em;
    margin: 0;
  }
}

@import '720px';
@import '1100px';
@import '1400px';
@import '1400px';
@import '1800px';
