$mont: 'Montserrat', sans-serif;
$myBlue: rgb(82, 198, 246);
$fontratio: 1.333;

html {
  font-size: 16px;
}

body {
  font-family: $mont;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

//vh hack
section {
  transition: all 1000s;
}

// typo settings
h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.15em;
  margin-top: .3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.15em;
  margin-bottom: 0;
}

h5 {
  font-size: 0.9em;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: .01em;
  font-weight: 400;
}

// ---------------

// primary button styling
.button {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  margin: 6vh auto 0 auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 5em;
}

.header {
  width: 100vw;
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0),
                  rgba(30, 30, 30, 0.3)
  ),
  url('../assets/img/header__backgroundphoto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5em 2em;
  color: white;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 4em;

  img {
    width: 100%;
  }
}

.header__menu {
  display: none;

  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, .9);

  li {
    list-style: none;
    margin: 1em 0;
    font-size: 1.5em;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.header__hamburger {
  fill: white;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

// navbar ends

.header__claim {
  margin: 18vh 0px 2vh 0px;
  text-align: center;
  font-weight: 600;
}

.header__subclaim {
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

// end of header section

.about {
  padding: 1.2em;
}

.about__text {
  margin: 3em 0;
}

.about__icons {
  width: 100%;

  ul {
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      padding: 0;
      margin: 3em 0;

      h5 {
        margin-bottom: 0;
      }

      h3 {
        margin-top: .3em;
      }
    }

    li::before {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 4em;
      height: 4em;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.about__first-item::before {
  background-image: url('../assets/img/cloud.svg');
}

.about__second-item::before {
  background-image: url('../assets/img/camera.svg');
}

.about__third-item::before {
  background-image: url('../assets/img/certif.svg');
}

//end of about

.castle {
  padding: 4em 1.2em 2em;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg,
          rgba(255, 255, 255, 0),
          rgba(30, 30, 30, 0.5)
  ),
  url('../assets/img/castle.png');
  background-position: 70%;
}

.castle__text {
  color: white;
  text-align: center;
  z-index: 1000;
}

// end of castle

.portfolio {
  padding: 2em 1.2em;
  height: auto;
}

.gallery {
  margin: 0 auto;
  width: 100%;
  padding: 1em;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0
  }
}

.gallery__photo {
  width: 15em;
  height: 10em;
  background: grey;
  margin: .5em;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s ease-out;
  opacity: 0;
  position: relative;
  top: -5px;
}

.gallery__show-more {
  background: white;
  color: black;
  border: 2px solid black;
  transform: scale(0.8);
  margin-top: 0;
  transition: .5s;
}


.contact {
  padding: 2.5em 1.2em 2em;
  text-align: center;

  .contact__contacts {
    ul {
      width: 100%;
      list-style: none;
      text-align: center;
      padding: 0;

      li {
        padding: 0;
        margin: 3em 0;

        a {
          margin-top: 1em;
          font-weight: 500;
          display: block;
          text-decoration: underline;
          color: black;
        }

        a:nth-child(2) {
          margin-top: .3em;
        }
      }

      li::before {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 4em;
        height: 4em;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      .about__first-item::before {
        background-image: url('../assets/img/phone.svg');
      }

      .about__second-item::before {
        background-image: url('../assets/img/envelope.svg');
      }

    }
  }
}

footer {
  margin-top: 5em;
  p {
    font-size: .8em;
    margin: 0;
  }
}